<!-- <mat-card> -->

<!-- <mat-card-content class="card-sombra"> -->

<div id="centralizar">

    <div class="row">

        <div class="col-12 imagem">
            <img [src]="cliente.img">
        </div>

    </div>

    <div class="row">

        <div class="col-12">
            <h3>{{cliente.nome}}</h3>
        </div>

    </div>

    <div class="row">

        <div class="col-12">
            <i>
                {{cliente.link}}
            </i>
        </div>

    </div>

</div>

<!-- </mat-card-content> -->

<!-- </mat-card> -->