<div class="container">

    <div class="row">

        <div id="centralizarTitulo">

            <div class="col-12">

                <h2 id="titulo">{{titulo}}</h2>

                <p id="subTitulo">{{subTitulo}}</p>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-12 col-lg-4 col-md-6">

            <div *ngFor="let item of data; index as i">
                <app-itens *ngIf="i < 3" [item]="item"></app-itens>
            </div>

        </div>

        <div class="col-12 col-lg-4 esconder">

            <img src="./assets/images/quem-somos/tecnologia.png">

        </div>

        <div class="col-12 col-lg-4 col-md-6">

            <div *ngFor="let item of data; index as i">
                <app-itens *ngIf="i > 2" [item]="item"></app-itens>
            </div>
        </div>

    </div>

</div>