<nav class="navbar navbar-expand-md navbar-light">

  <img id="logo" alt="Logo" src="./assets/images/logo-sem-nome.png" />

  <div class="example-spacer">

    <span>

      <a href="https://www.linkedin.com/company/jmr-tech/" target="_blank">
        <img src="./assets/icons/instagram.png">
      </a>

      <a href="https://www.instagram.com/jmarcelo098/" target="_blank">
        <img src="./assets/icons/linkedin.png">
      </a>

    </span>

  </div>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" id="btnMenu" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

    <div class="subMenu">
      <div class="container-fluid" *ngFor="let item of navbar">
        <a aria-current="page" (click)="ancora(item.link)">{{item.titulo}}</a>
      </div>
    </div>

  </div>

</nav>

<div class="content">

  <section id="quem-somos">
    <app-quem-somos></app-quem-somos>
  </section>

  <section id="servico">
    <app-servico></app-servico>
  </section>

  <!-- <section id="cliente">
    <app-clientes></app-clientes>
  </section> -->

  <section id="contato">
    <app-contato></app-contato>
  </section>

</div>

<!-- Footer -->
<footer>
  <app-footer></app-footer>
</footer>